<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.nandorocker.spotifyLikeThis</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>E0B30850-33FF-4C06-9058-31E1E552C490</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C82B5846-EC34-4B57-9E25-F93703427A61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F03E3896-7019-49A4-B158-3E14B63CDF90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0B30850-33FF-4C06-9058-31E1E552C490</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nando Rossi</string>
	<key>description</key>
	<string>Likes the currently playing track on Spotify.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Like This Track</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Alfred passes the output of script 1 as $1
full_output="$1"

# Use awk to split the string by the pipe delimiter
# -F'|' sets the field separator to |
# '{print $1}' prints the first field
# '{print $2}' prints the second field
arg1=$(echo "$full_output" | awk -F'|' '{print $1}')
arg2=$(echo "$full_output" | awk -F'|' '{print $2}')

# Now you can use arg1 and arg2 in your notificator command
sh notificator --title "$arg1" --message "$arg2"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C82B5846-EC34-4B57-9E25-F93703427A61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>#!/bin/bash
python3 like_this_track.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0B30850-33FF-4C06-9058-31E1E552C490</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>likeit</string>
				<key>subtext</key>
				<string>Like Currently Playing Song on Spotify</string>
				<key>text</key>
				<string>Like This Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F03E3896-7019-49A4-B158-3E14B63CDF90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6AF2A454-E091-43F8-9F88-43A4C350FFC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple small script to like the currently playing song on Spotify.

## Installation
After installing, using the terminal run:

```
python3 -m venv venv
source venv/bin/activate
pip install -r requirements.txt
````</string>
	<key>uidata</key>
	<dict>
		<key>6AF2A454-E091-43F8-9F88-43A4C350FFC1</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>C82B5846-EC34-4B57-9E25-F93703427A61</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>E0B30850-33FF-4C06-9058-31E1E552C490</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>F03E3896-7019-49A4-B158-3E14B63CDF90</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://nan.do</string>
</dict>
</plist>
